
.table-container {
  margin-top: 20px;
  
  }

table {
  background-color: rgb(176, 190, 242);
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
